<h1>Por favor, confirma tu email</h1>

<p>
    Por favor, confirma el email haciendo click en el siguiente enlace para validar tu cuenta de Talent Match Intelligence: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi Email</a>.
    Este email expira en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Gracias!
    Talent Match Intelligence
</p>
